# Render privately and protect with mode 0600.
BUZZ_RELAY_URL={{RELAY_URL}}
BUZZ_PRIVATE_KEY={{BUZZ_PRIVATE_KEY}}
BUZZ_AUTH_TAG={{BUZZ_AUTH_TAG}}
BUZZ_API_TOKEN={{BUZZ_API_TOKEN}}
BUZZ_ACP_SYSTEM_PROMPT_FILE={{SYSTEM_PROMPT_PATH}}
BUZZ_ACP_HEARTBEAT_INTERVAL={{HEARTBEAT_INTERVAL_SECONDS}}
BUZZ_ACP_HEARTBEAT_PROMPT_FILE={{HEARTBEAT_PROMPT_PATH}}
BUZZ_ACP_SESSION_TITLE={{SESSION_TITLE}}
BUZZ_ACP_RESPOND_TO={{RESPOND_TO_MODE}}
BUZZ_ACP_RESPOND_TO_ALLOWLIST={{RESPOND_TO_ALLOWLIST}}
